.chat-space
  .chat-space__header
    .chat-space__left-box
      .chat-space__header__left-box__group
        %h2 Current Group
      .chat-space__header__lefe-box__list
        %ul Member: members
    .chat-space__header__edit__btn
      %input.edit{type: "button", value: "Edit"}

  .chat-space__messages
    =render @messages
  
  .chat-space__form
    .form__new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .input-box__image
          = link_to 'input_image_file' do
            %i.fa.fa-image
        = f.submit 'Send', class: 'form__submit'

=render partial: 'side_bar'
