.form
.new-message
  .new-message__box__text__form
    %input.text{:type => "form", :value => "type a message"}
      = link_to 'input_image_file' do
        %i.fa.fa-image
        %input.submit{:type => "submit", :value => "Send"}



        .form {
          background-color: #dddddd;
          height: 90px;
          display: block;
          bottom: 0;
          position: fixed;
          width: calc(100vw - 300px);
        } .new-message {
          display: flex;
          width: 505px;
          height: 50px;
          position: relative;
        } .new-message__box__text__form {
          height: 50px;
          width: 390px;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
          display: block;
          
        } .input-box__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
        } i.fa.fa-image {
          height: 21px;
          width: 22.3px;
          color: black;
        }
        input.submit {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
        }



        .form {
          background-color: #dddddd;
          height: 90px;
          display: block;
          padding: 20px 40px;
        
          
        } .new-message {
          display: flex;
          width: 505px;
          height: 50px;
          position: relative;
        } input.new-message__box__text__form {
          height: 50px;
          width: 390px;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
          display: inline-block;
        } label.input-box__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
        } i.fa.fa-image {
          height: 21px;
          width: 22.3px;
          color: black;
          display: inline-block;
        } input.submit {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
        }