header {
  height:24px;
  width: 100%;
  background-color: #38aef0;
    .comment {
      font-size: 1rem;
      color: #ffffff;
      text-align: center;
    }
}

div.chat-side {
  background-color: #2f3e51;
  width: 300px;
  height: 100%;
}