.chat-space {
  width: calc(100vw - 300px);
  padding: 0, 40px;
}    
  .chat-space__header {
    height: 100px;
    width: calc(100vw - 300px);
    border: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #ffffff;
  } .chat-space__header__left-box {
    margin: 35 0 0px;
  } h2 {
    font-size: 20px;
    color: #333333;
    display: block;
    margin: 0 0 15px;
    padding-top: 35px;
  } ul {
    font-size: 12px;
    color: #999999;
    list-style: none;
    display: flex;
  } input {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    right: 40px;
    display: block;
    color: #38aef0;
  } 
  
  .chat-space__messages {
    background-color: #fafafa;
    width: calc(100vw - 300px);
    height: calc(100vw - 190px);
    display: block;
    padding: 46px 40px;
    margin: 0px;
    position: relative;
  } .chat-space__messages__message {
      color:#000000;
      font-size: 16px;
      padding: 0 0 40px;
      width: 505px;
      height: 105px;
  } .chat-space__messages__message__upper-info {
      margin: 0 0 10px;
      padding-bottom: 40px;
  } .chat-space__messages__message__upper-info__talker {
      font-size: 16px;
      color: #434A54;
      font-weight: bold;
  } .chat-space__messages__message__upper-info__date {
      font-size: 12px;
      color: #999999;
      margin: 0 0 0 10px;
  } .chat-space__messages__text {
      font-size: 14px;
      color: #434A54;
      width: 505px;
      height: 21px;
  }
  
  
  .form {
    background-color: #dddddd;
    height: 90px;
    width: calc(100vw - 300px);
    display: block;
    bottom: 0;
    float: right;
    position: absolute;
  } .new-message__box {
    width: 505px;
    height: 50px;
    display: flex;
    color: #434A54;
    background-color: #ffffff;
  } .new-message__box__content {
    width: 390px;
    height: 50px;
  } 
